<div class="divMain">
    <div class="col-xs-2 col-sm-8 col-md-10 col-lg-12">
        <app-navbar></app-navbar>
        <div class="col-xs-2 col-sm-8 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
            <div *ngIf="connected === true">
                <mat-spinner [diameter]="40" *ngIf="isLoading === true"></mat-spinner>
                <div *ngIf="isLoading === false">
                    <div *ngIf="hasPaidItems === true">
                        <div class="deliveries-container col-md-6">
                            <h4 class="method-choice-heading">Preferred Checkout</h4>
                            <mat-tab-group mat-align-tabs="center" mat-stretch-tabs>
                                <!-- Delivery Tab -->
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon (click)="toggleType('Delivery')" class="home-icon">home</mat-icon>
                                        <h5 (click)="toggleType('Delivery')" style="color: #575757; margin-left: 10px;">
                                            DELIVERY</h5>
                                    </ng-template>
                                    <div class="row" style="margin-top: 40px;">
                                        <div class="addresses-container">
                                            <div class="address-heading">
                                                <span id="my-icon" class="badge badge-pill">
                                                    <mat-icon style="color:white">local_shipping_outlined</mat-icon>
                                                </span>
                                                <div class="sub-heading-container">
                                                    <h3 class="title" style="margin-top: 5px;">DELIVERIES</h3>
                                                </div>
                                                <div class="sub-title">
                                                    <label>Deliver right to your door</label>
                                                </div>
                                            </div>
                                            <!-- Current Addresses -->
                                            <div class="current-addresses">
                                                <div *ngIf="addresses.length > 0">
                                                    <h3 id="address-heading">Current Addresses:</h3>
                                                    <div style="display: inline;"
                                                        style="margin-top: 50px; margin-bottom: 35px;"
                                                        class="user-addresses">
                                                        <div style="margin-bottom: 15px;"
                                                            *ngFor="let address of addresses; let i = index;">
                                                            <div
                                                                (click)="onSelectAddress(address.addressNickName + ' - ' + address.userAddress)">
                                                                <span class="selected-address__container">
                                                                    <span
                                                                        style="display: inline; vertical-align: middle;"
                                                                        class="badge" id="address-counter">{{i +
                                                                        1}}</span>
                                                                    <p
                                                                        style="display: inline; margin-left: 10px; vertical-align: middle;">
                                                                        {{address.addressNickName}} - </p>
                                                                    <p style="display: inline; vertical-align: middle;"
                                                                        class="address-container">
                                                                        {{address.userAddress}}</p>
                                                                </span>
                                                                <mat-icon class="icon" title="Update Product"
                                                                    [routerLink]="['/edit-address', address.id, address.addressID, address.addressNickName, address.userAddress, address.isDefault]">
                                                                    create</mat-icon>
                                                                <mat-icon class="icon" style="margin-left: 40px;"
                                                                    title="Delete Product"
                                                                    (click)="onDeleteAddress(address.id, address.addressID)">
                                                                    delete_outlined</mat-icon>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="add-address-container">
                                                        <span style="margin-left: 20px;"
                                                            class="add-new-address__container" (click)="togglePane()">
                                                            <mat-icon class="add-new-address__icon" title="Add Address">
                                                                add_circle_outline</mat-icon>
                                                            <label class="add-new-address__label">ADD A NEW
                                                                ADDRESS</label>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- No Current Addresses -->
                                            <div class="addresses-container">
                                                <div *ngIf="addresses.length === 0">
                                                    <label class="no-addresses__label">NO CURRENT ADDRESSES</label>
                                                    <span class="add-new-address__container" (click)="togglePane()">
                                                        <mat-icon class="add-new-address__icon" title="Add Address">
                                                            add_circle_outline</mat-icon>
                                                        <label class="add-new-address__label">ADD A NEW ADDRESS</label>
                                                    </span>
                                                </div>
                                            </div>
                                            <!-- Address Form -->
                                            <div class="address-form">
                                                <form *ngIf="paneOpen === true" #addressForm="ngForm" autocomplete="off"
                                                    (submit)="onSubmitAddress()">
                                                    <div id="address-data" ngModelGroup="addressData"
                                                        #addressData="ngModelGroup">
                                                        <div class="full-street-container">
                                                            <div class="input-label">
                                                                <label>*Type your full street address:</label>
                                                            </div>
                                                            <div class="input-text">
                                                                <input type="text" id="userAddress" ngModel
                                                                    placeholder="40, street name, suburb, city"
                                                                    name="userAddress" required />
                                                            </div>
                                                        </div>
                                                        <div class="address-nickname-container">
                                                            <div class="input-label">
                                                                <label>Address nickname:</label>
                                                            </div>
                                                            <div class="input-text">
                                                                <input type="text" id="nickname" ngModel
                                                                    placeholder="e.g Home" name="nickname" required />
                                                            </div>
                                                        </div>
                                                        <div class="default-address-container">
                                                            <input class="my-checkbox" id="defaultCheckBox" ngModel
                                                                type="checkbox" name="defaultCheckBox">
                                                            <label class="default-label" name="isDefault">Make this my
                                                                default delivery address</label>
                                                        </div>
                                                        <div *ngIf="addressForm.valid">
                                                            <button id="save-btn" class="save-button" type="submit">SAVE
                                                                NEW ADDRESS</button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- Selected Address -->
                                    <div class="selected-addresses__container"
                                        *ngIf="selectedAddress !== null && addresses.length > 0">
                                        <h3 class="selected-address__heading">Selected Address:</h3><br />
                                        <label class="selected-heading__label">{{selectedAddress}}</label>
                                    </div>
                                </mat-tab>
                                <!-- Collection Tab -->
                                <mat-tab>
                                    <ng-template mat-tab-label>
                                        <mat-icon (click)="toggleType('Collection')" class="delivery-icon"
                                            style="color: #575757;">shopping_basket</mat-icon>
                                        <h5 (click)="toggleType('Collection')"
                                            style="color: #575757; margin-left: 10px;">COLLECT</h5>
                                    </ng-template>
                                    <div class="collection-container">
                                        <div class="main-container">
                                            <div class="row" style="margin-top: 60px;">
                                                <div class="collections-heading">
                                                    <span id="my-icon" class="badge badge-pill">
                                                        <mat-icon style="color:white" style="padding-right: 5px;">
                                                            time_to_leave</mat-icon>
                                                    </span>
                                                    <div class="sub-heading-container">
                                                        <h3 class="title" style="margin-top: 5px;">COLLECTIONS</h3>
                                                    </div>
                                                    <div class="sub-title">
                                                        <label>Come and collect at your convenience</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row" style="margin-top: 35px;">
                                                <div class="col-md-4">
                                                    <label class="selected-date__heading">Choose a date:</label>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="date-container">
                                                        <mat-form-field>
                                                            <input class="date-input" matInput [matDatepicker]="picker"
                                                                (dateChange)="onSelectDate($event)">
                                                            <mat-datepicker-toggle matSuffix [for]="picker"
                                                                style="color: #575757;">
                                                            </mat-datepicker-toggle>
                                                            <mat-datepicker #picker style="color: #575757;">
                                                            </mat-datepicker>
                                                        </mat-form-field>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Select A Store -->
                                            <div class="row" style="display: inline-block;">
                                                <div class="col-md-6" class="select-store__container">
                                                    <label class="selected-store__heading">Choose a store:</label>
                                                    <label class="selected-store__label"
                                                        *ngIf="selectedStore !== null">{{selectedStore}}</label>
                                                    <div class="store__container"
                                                        style="margin-top: -20px; margin-left: 10px;">
                                                        <button class="material-button" mat-button
                                                            [matMenuTriggerFor]="menu">
                                                            <mat-icon
                                                                style="font-size: 20px; padding-right: 5px; padding-top: 15px;">
                                                                room</mat-icon>
                                                        </button>
                                                        <mat-menu #menu="matMenu">
                                                            <div *ngFor="let shop of shops">
                                                                <button mat-menu-item
                                                                    (click)="onSelectStore(shop.name)">{{shop.name}}</button>
                                                            </div>
                                                        </mat-menu>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </mat-tab>
                            </mat-tab-group>
                        </div>
                        <!-- Paid Items Column -->
                        <div class="paid-items-container col-md-6">
                            <h4 class="paid-items-heading">Checkout Items</h4>
                            <div class="items-table">
                                <table>
                                    <thead>
                                        <tr>
                                            <th>Title</th>
                                            <th>Brand</th>
                                            <th>Quantity</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let item of paidItems">
                                            <td>{{item.title}}</td>
                                            <td>{{item.brand}}</td>
                                            <td>{{item.quantity}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- Complete Transaction Section -->
                        <div class="row" *ngIf="selectedStore !== null || selectedAddress !== null">
                            <div class="col-md-2 col-md-offset-2">
                                <div
                                    style="text-align: center; margin-left: auto; margin-right: auto; margin-top: 25%;">
                                    <button class="btn btn-primary" (click)="onCompleteTransaction()">Complete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="no-paid-items-container" *ngIf="hasPaidItems === false">
                    <img class="no-paid-items-image" alt="No Paid For Items"
                        src="../../assets/images/no-cart-items1.png">
                    <h2>You have no paid items</h2>
                    <p>Please continue to shop and checkout the items in cart</p>
                </div>
            </div>
            <div class="warning-container" *ngIf="connected === false">
                <img class="warning-image" alt="No Internet Connection" src="../../assets/no-connection.png" />
                <h3>CHECK YOUR INTERNET CONNECTION</h3>
            </div>
        </div>
    </div>
    <script>
        document.querySelector('.icon').addEventListener('mouseover', (e) => {
            e.target.setAttribute('title', document.querySelector('.icon.innerText p').innerText);
        });
    </script>