<div class="divFooter">
    <div class="col-xs-12">
        <div class="row">
            <div class="footerArea" flexLayout>
                <div class="col-md-12">
                    <img alt="Footer Image" class="footer-image" src="../../../assets/footer-pnp-white.png">
                    <div class="footerLabels">
                        <label style="margin-left: 40px;">COMPANY <span class="caret"></span></label>
                        <label style="margin-left: 20px;">USEFUL LINKS <span class="caret"></span></label>
                        <label style="margin-left: 20px;">SERVICES <span class="caret"></span></label>
                        <label style="margin-left: 20px;">HELP <span class="caret"></span></label>
                    </div>
                    <div class="specialsLink" style="margin-right: 150px; float: right;">
                        <label>GET THE LATEST SPECIALS SENT TO YOUR INBOX <span> ></span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>