<div class="divFooter">
    <div class="row">
        <div class="col-xs-2 col-sm-8 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
            <div class="footerArea" flexLayout>
                <div>
                    <a routerLink="/"><img alt="Footer Image" class="footer-image" src="../../../assets/footer-pnp-white.png"></a>
                    <div class="footerLabels">
                        <label style="margin-left: 40px;" [matMenuTriggerFor]="companyMenu">COMPANY <span class="caret"></span></label>
                        <mat-menu #companyMenu="matMenu">
                            <button mat-menu-item>CONTACT US</button>
                        </mat-menu> 
                        <label style="margin-left: 20px;">USEFUL LINKS <span class="caret"></span></label>
                        <label style="margin-left: 20px;">SERVICES <span class="caret"></span></label>
                        <label style="margin-left: 20px;">HELP <span class="caret"></span></label>
                    </div>
                    <div class="specialsLink" style="margin-right: 150px; float: right;">
                        <label>GET THE LATEST SPECIALS SENT TO YOUR INBOX <span> ></span></label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>