<div style="margin-left: 1.5rem;">
    <div class="col-xs-2 col-sm-8 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1">
        <img class="bannerImage" src="../../../assets/onlineshopping_logo.png" width="157px;" height="36px" style="object-fit: cover; margin-top: 10px;" (click)="onHomeNav()">
    </div>
</div>
<div class="container" fxHide.xs>
    <div style="text-align: center;">
        <div class="col-md-6 col-md-offset-3">
            <label class="heading" style="text-align: center;">RESET PASSWORD</label><br /><br />
            <p class="intro" style="text-align: center;">Please enter your email address and we'll send you a temporary password.</p><br /><br />
            <form #resetpassForm="ngForm" (ngSubmit)="onSubmit(resetpassForm)" autocomplete="off">
                <!-- <label for="email" style="font-size: 18px; text-align: center; font-weight: 200;">EMAIL/USERNAME</label> -->
                <table style="margin-left: 22%;">
                    <tbody>
                        <tr>
                            <!-- <td class="email">
                                <label for="email" style="font-size: 12px; padding-left: 16px; text-align: left; margin-left: -95px;">Email address/username</label>
                            </td> -->
                            <td>
                                <input email class="inputEmail" required type="email" style="font-size: 12px; padding: 6px 10px;" id="email" name="email" #email="ngModel" ngModel minlength="7">
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br />
                <p *ngIf="resetpassForm.touched && resetpassForm.value.email == '' && !resetpassForm.valid" style="color: #003359; font-size: 13px; text-align: center;">We need your email/username to reset your password</p>
                <br /><br />
                <button style="text-align: center;" class="submitButton" type="submit" mat-raised-button color="primary" [disabled]="!resetpassForm.valid">RESET PASSWORD</button>
            </form>
        </div>
    </div>
</div>
<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
<!-- Mobile Layout -->
<div fxHide.gt-xs>
    <div class="mobile__navbar">
    
    </div>
</div>