<div class="matDialog">
    <div mat-dialog-title>
        <mat-dialog-content color="primary">
            <mat-label class="main-Heading">{{user.userName}}'s Shopping Lists</mat-label><br /><br />
            <mat-label class="dialog-heading">Select a shopping list</mat-label><br />
            <mat-form-field appearance="fill">
                <mat-label class="select-heading">User Lists</mat-label>
                <mat-select [(ngModel)]="data.shoppingListName">
                  <mat-option ngDefaultControl *ngFor="let list of listNames" name="shoppingListName" [value]="list.listName" mat-input>
                    {{list.listName}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
        </mat-dialog-content>
    </div>
    <div mat-dialog-actions>
        <button mat-button (click)="onNoClick()">No</button>
        <button mat-button [mat-dialog-close]="data.shoppingListName">Yes</button>
    </div>
</div>