<div class="mainDiv">
    <div class="col-xs-12">
        <app-navbar></app-navbar>
        <img class="covidBanner" src="../../../assets/images/covidheaderbanner.gif" style="object-fit: cover;">
        <p class="bannerText">Now more than ever, we understand that you need reliability and support from your community.
            We've been serving the people of South Africa for over fifty years and will continue to do so during this time.
            The health and well-being of our customers and staff is our top priority.
            Also a priority is keeping informed about this very fluid situation, and by heading over to the national website at
            <a target="_blank" (click)="goToURL()">www.sacoronavirus.co.za</a>, you can join government and the rest of us, in combating the spread of infection.
        </p>
        <label class="questionsLink" routerLink="/questions">FREQUENTLY ASKED QUESTIONS <span style="float: right; padding-right: 20px;">></span></label>
        <!-- TODO: Place Carousel Here -->
    </div>
</div>
