<mat-sidenav-container>
    <mat-sidenav-content>
        <app-header fxHide.xs></app-header>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="container-fluid" style="background-color: white;">
    <div class="row">
        <div>
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>
<footer>
    <div style="width: 100%;z-index: 0;position: relative; float: inline-end;">
        <app-footer fxHide.xs></app-footer>
    </div>
</footer>