<mat-sidenav-container>
    <mat-sidenav-content>
        <app-header fxHide.xs></app-header>
    </mat-sidenav-content>
</mat-sidenav-container>
<div class="container-fluid" style="background-color: white;">
    <div class="row">
        <div class="col-xs-2 col-sm-4 col-md-8 col-lg-10 col-lg-offset-1">
            <main>
                <router-outlet></router-outlet>
            </main>
        </div>
    </div>
</div>
<footer>
    <div style="width: 100%;">
        <app-footer fxHide.xs></app-footer>
    </div>
</footer>