<div class="mainDiv">
  <div class="col-xs-2 col-sm-8 col-md-10 col-lg-12">
    <app-navbar></app-navbar>
  </div>
  <div class="col-xs-2 col-sm-8 col-md-8 col-md-offset-2 col-lg-10 col-lg-offset-1" *ngIf="connected === true">
    <mat-spinner [diameter]="40" *ngIf="isLoading === true"></mat-spinner>
    <div *ngIf="isLoading === false;">
      <h1 style="text-align: center; margin-top: 2rem;">Catalogues</h1>
      <mat-grid-list cols="3" rowHeight="2:2">
        <div *ngFor="let category of categories">
          <mat-grid-tile>
            <img class="gridImage" [src]="category.uri">
            <label class="textBlock" [routerLink]="['/products', category.url]">{{category.name}}</label>
          </mat-grid-tile>
        </div>
      </mat-grid-list>
    </div>
  </div>
  <div class="warning-container" *ngIf="connected === false">
    <img class="warning-image" alt="No Internet Connection" src="../../assets/no-connection.png" />
    <h3>CHECK YOUR INTERNET CONNECTION</h3>
  </div>
</div>